web/WEB-INF/wsdl/localhost_8080/MavenWebProject/CSW.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://www.opengis.net/cat/csw/2.0.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.opengis.net/cat/csw/2.0.2">

<xs:element name="DescribeRecord" type="tns:DescribeRecord"/>

<xs:element name="DescribeRecordResponse" type="tns:DescribeRecordResponse"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="GetCapabilities" type="tns:GetCapabilities"/>

<xs:element name="GetCapabilitiesResponse" type="tns:GetCapabilitiesResponse"/>

<xs:element name="GetDomain" type="tns:GetDomain"/>

<xs:element name="GetDomainResponse" type="tns:GetDomainResponse"/>

<xs:complexType name="GetDomain">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetDomainResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetCapabilities">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetCapabilitiesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DescribeRecord">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DescribeRecordResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>